<div class="container" ng-controller="MainCtrl as main">
    <div class="row" ng-repeat="item in main.data.data" ng-model="main.data.data">
        <div class="col-md-4">
            <span class="alert alert-info">{{item.firstName}}</span>
        </div>
        <div class="col-md-4">
            <span class="alert alert-info">{{item.lastName}}</span>
        </div>
        <div class="col-md-4">
            <span class="alert alert-info">{{item.employeeId}}</span>
        </div>

    </div>
</div>